h1{
    color:red;
}
img,span{
    display: inline-block;
    height: 200px;
    width:200px;
    background-size:cover;
    background-image:url("../images/demo.jpg");
}
span{
    background-image:url("../images/demo1.jpg");
}